<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>
     

<body>

    <%- include('../partials/header') %> 

    <!-- </header> -->

    <main class="main-home">
        <section class="last-visit">
            
            <h3>TODOS LOS PRODUCTOS</h3>
            <div class="products">
                <% for(let producto of listadoAdmi){ %>
<!--let (uno de esos muchos, callback) of (muchos)-->
                    <% if (producto.visibility == 1) { %>
                        <article>
                            <div class="imagenes">
                                <a href="#"> <img src="/img/<%=producto.img%>" alt="producto" width="360" class="product_img"></a>
                            </div>
                            <div class="main-article">
                                
                                <p class="price">$<%=mil(producto.price)%></p>
                                <p class="discount">Envío Gratis</p>
                                <h3 class="description"><%=producto.name%></h3>
                                <button class="botone3"><a href="/ProductDetail/<%=producto.id%>" class="letra3">Ver más </a></button>
                                <button class="botone3" id= "editar"><a href="/editarProducto/<%=producto.id%>" class="letra3">Editar </a></button>
                                <form action="borrar/<%=producto.id%>?_method=delete" method="post">
                                    <button type="submit" id="eliminar" class="botone3">Eliminar</button>
        
                                </form>
                            </div>
                        </article>
                        
                    <% } %>
                    
                <%} %> 
            </div>
            <br>
            
            
        </section>
    </main>

    <%- include('../partials/footer') %> 
    
</body>
</html>