<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>
     

<body>

    <%- include('../partials/header') %> 

    <!-- </header> -->

<main class="main-home">
<!----------- carrusel flor--------->
<div class="carrousel">
    <ul>
        <li><img src="/img/1.png" alt=""></li>
        <li><img src="/img/2.png" alt=""></li>
        <li><img src="/img/3.png" alt=""></li>
    </ul>
</div>


        <section class="last-visit">

            <h3>PRODUCTOS DESTACADOS</h3>

            <div class="products">
                <%  let i=0%>
                <% for(let i =0; i < 8; i++){ %>
                    <!--let (uno de esos muchos, callback) of (muchos)-->
                    <% if (productos[i].visibility == 1 ) { %>
                        <% if (productos[i].sectionId == 2) { %>
                    
                            <article>
                                <div class="imagenes">
                                    <a href="#"> <img src="/img/<%=productos[i].img%>" alt="producto" width="360" class="product_img"></a>
                                </div>
                                <div class="main-article">
                                                        
                                <p class="price">$<%=mil(productos[i].price)%></p>
                                <p class="discount">Envío Gratis</p>
                                <h3 class="description"><%=productos[i].name%></h3>
                                <button class="botone3"><a href="/ProductDetail/<%=productos[i].id%>" class="letra3">Ver más </a></button>
                                
                                
                                    </div>
                                </article>
                        <% } %>
                        
                                            
                    <% } %>
                                        
                <%} %> 
                
                 
            </div>
            <h3>OFERTAS</h3>
            <div class="products">
                <% for(let producto of productos){ %>
                    <!--let (uno de esos muchos, callback) of (muchos)-->
                    <% if (producto.visibility == 1) { %>
                        <% if (producto.sectionId == 1) { %>
                        <article>
                            <div class="imagenes">
                                <a href="#"> <img src="/img/<%=producto.img%>" alt="producto" width="360" class="product_img"></a>
                            </div>
                            <div class="main-article">
                                                    
                            <p class="price">$<%=mil(producto.price)%></p>
                            <p class="discount">Envío Gratis</p>
                            <h3 class="description"><%=producto.name%></h3>
                            <button class="botone3"><a href="/ProductDetail/<%=producto.id%>" class="letra3">Ver más </a></button>
                            
                            
                                </div>
                            </article>
                        <% } %>
                                            
                    <% } %>
                                        
                <%} %> 
            </div>

            <div class="fotosabajoo">
            <marquee>
            <img src="img/amd.png" width="18%"style="margin-left:5% ;">   
            <img src="img/lenovo.png" width="20%" style="margin-left:5% ;"> 
            <img src="img/nvdia2.png" width="20%" style="margin-left:3% ;"> 
            <img src="img/hyper.png" width="15%" style="margin-left:5% ;"> 
            <img src="img/Redragon-Logo-PNG-Red.png" width="9%" style="margin-left:5%;"> 
            <img src="img/ryzen.png" width="12%" style="margin-left:5% ;"> 
            <img src="img/amd.png" width="18%"style="margin-left:5% ;">   
            <img src="img/lenovo.png" width="20%" style="margin-left:5% ;"> 
            <img src="img/nvdia2.png" width="20%" style="margin-left:3% ;"> 
            <img src="img/hyper.png" width="15%" style="margin-left:5% ;"> 
            <img src="img/Redragon-Logo-PNG-Red.png" width="9%" style="margin-left:5%;"> 
            <img src="img/ryzen.png" width="12%" style="margin-left:5% ;"> 
            <img src="img/amd.png" width="18%"style="margin-left:5% ;">   
            <img src="img/lenovo.png" width="20%" style="margin-left:5% ;"> 
            <img src="img/nvdia2.png" width="20%" style="margin-left:3% ;"> 
            <img src="img/hyper.png" width="15%" style="margin-left:5% ;"> 
            <img src="img/Redragon-Logo-PNG-Red.png" width="9%" style="margin-left:5%;"> 
            <img src="img/ryzen.png" width="12%" style="margin-left:5% ;"> 
            </marquee>

            </div>
            <br>
            <section class="banner">
                <img src="img/bannerAbajoo.png" alt="Banner" width='100%'>
            </section>
             
        </section>
    </main>

    <%- include('../partials/footer') %> 
    
</body>
</html>