<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %> 


<body>

    <%- include('../partials/header') %>


    <main class="main-perfil">

        <div class="perfil">
            <img class="fotoPerfil" src="img/avatar/<%= user.avatar %>" alt="FotoPerfil" width="150"
            height="145">
            <label>Nombre: <%= user.name %></label>
            <label>Apellido: <%= user.lastname%> </label>
            <label>Nombre de usuario: <%= user.userName%>  </label>
            <label>Telefono: <%= user.cel%></label>
            <label>E-mail: <%= user.email %></label>
     

        </div>

        <% if ( user.rolId == 1) { %>
        <div class="perfil22">
            <div><h1>Última Compra </h1></div>
            <div class="productos">
                <img src="/img/Ram.jpg" width="100" alt="ram">
                <div>Memora PNY DDR4 8GB 3200MHz XLR8 Epic RGB </div>
                <div class="cant">
                    Cantidad: 2 
                </div>
                <div>Total $ 77.144</div>

            </div>
            <button  class="reg2" style="width: auto;margin-left: 13px;" type="submit"><a href="/perfil/edit/<%= user.id %> " style="color: aliceblue; text-decoration: none;" >Editar perfil</a> </button>
        </div>
        <% } %>

        <% if (user.rolId == 2) { %>

            <div class="perfil22">
                <div><h1>Panel de administrador</h1></div>
                <div class="producto">
                    <button  class="reg2" style="width: auto;margin-left: 13px;" type="submit"><a  style="color: aliceblue; text-decoration: none;" href="/allproducts">Modificar productos</a> </button>
                    <button  class="reg2" style="width: auto;margin-left: 13px;" type="submit"><a href="/agregarProducto" style="color: aliceblue; text-decoration: none;" >Crear producto</a> </button>
                    <button  class="reg2" style="width: auto;margin-left: 13px;" type="submit"><a href="/perfil/edit/<%= user.id %> " style="color: aliceblue; text-decoration: none;" >Editar perfil</a> </button>
                   <!--<button  class="reg2" style="width: auto;margin-left: 13px;" type="submit"><a href="/listar" style="color: aliceblue; text-decoration: none;" >Ver todos los Usuarios</a> </button>--> 
                </div>
            </div>
        </main>

            <% } %>
    </main>

    <%- include('../partials/footer') %> 

</body>
</html>