<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %> 
    

<body>

    <%- include('../partials/header') %> 


    <div class="main-register">
    
    
    
        <div class="formulario">
            
            <form method="POST" action="/register" class="form" id="form" enctype="multipart/form-data">

            

                <div class="register">

                    <h1 class="registrate">CREAR CUENTA</h1><br>
                        
                            <label for="nombre" ></label>
                            <input 
                            type="text" 
                            class="reg <%= locals.errors && errors.nombre ? 'is-invalid' : null %>" 
                            name="nombre" 
                            id="nombre" 
                            placeholder="Ingresa tu nombre" 
                            value="<%= locals.oldData ? oldData.nombre : null %>"
                            >
                            <small class="errors"></small>
                            
                            <% if (locals.errors && errors.nombre) { %>
                                <div class="text-danger">
                                    <%= errors.nombre.msg %> 
                                </div>
                            <% } %>
                                

                            <label for="apellido"></label>
                            <input 
                            type="text" 
                            class="reg <%= locals.errors && errors.apellido ? 'is-invalid' : null %>" 
                            name="apellido" 
                            id="apellido" 
                            placeholder="Ingresa tu apellido" 
                            value="<%= locals.oldData ? oldData.apellido : null %>"
                            >
                            <small class="errors"></small>
                            <% if (locals.errors && errors.apellido) { %>
                                <div class="text-danger">
                                    <%= errors.apellido.msg %> 
                                </div>
                            <% } %>
                        

                        
                            <label for="Nombre de usuario"></label>
                            <input 
                            type="text" 
                            class="reg <%= locals.errors && errors.nombreDeUsuario ? 'is-invalid' : null %>" 
                            name="nombreDeUsuario" 
                            id="Nombre de usuario" 
                            placeholder="Ingresa tu nombre de usuario" 
                            value="<%= locals.oldData ? oldData.nombreDeUsuario : null %>"
                            >
                            <small class="errors"></small>
                            <% if (locals.errors && errors.nombreDeUsuario) { %>
                                <div class="text-danger">
                                    <%= errors.nombreDeUsuario.msg %> 
                                </div>
                            <% } %>

                                
                            <label for="avatar">Elige una foto de perfil</label>
                            <input 
                            type="file" 
                            name="avatar" 
                            class="reg" 
                            id="avatar"
                            value="<%= locals.oldData ? oldData.avatar : null %>" 
                            >
                            <small class="errors"></small>
                            <% if (locals.errors && errors.avatar) { %>
                                <div class="text-danger">
                                    <%= errors.avatar.msg %> 
                                </div>
                            <% } %>
                                

                            <label for="email"></label>
                            <input 
                            type="email" 
                            class="reg" 
                            name="email" 
                            id="e-mail" 
                            placeholder="Ingresa tu email" 
                            value="<%= locals.oldData ? oldData.email : null %>"
                            >
                            <small class="errors"></small>
                            <% if (locals.errors && errors.email) { %>
                                <div class="text-danger">
                                    <%= errors.email.msg %> 
                                </div>
                            <% } %>


                            <label for="tel"></label>
                            <input 
                            type="text" 
                            class="reg" 
                            name="tel" 
                            id="tel" 
                            placeholder="Celular/Teléfono" 
                            value="<%= locals.oldData ? oldData.tel : null %>"
                            >
                            <small class="errors"></small>
                            <% if (locals.errors && errors.tel) { %>
                                <div class="text-danger">
                                    <%= errors.tel.msg %> 
                                </div>
                            <% } %>


                            <label for="password"></label>
                            <input type="password" 
                            class="reg" 
                            name="password" 
                            id="contraeña" 
                            placeholder="Crea una contraseña" 
                            value="<%= locals.oldData ? oldData.password : null %>"
                            >
                          
                             <small class="errors"></small>
                            <% if (locals.errors && errors.password) { %>
                                <div class="text-danger">
                                    <%= errors.password.msg %> 
                                </div>
                            <% } %>

                        
                            <label for="contraeña"></label>
                            <input 
                            type="password" 
                            class="reg" 
                            name="otraPassword" 
                            id="contraeña" 
                            placeholder="Confirmar Contraseña" 
                            value="<%= locals.oldData ? oldData.otraPassword : null %>"
                            >
                            <small class="errors"></small>
                            <% if (locals.errors && errors.otraPassword) { %>
                                <div class="text-danger">
                                    <%= errors.otraPassword.msg %> 
                                </div>
                            <% } %>
                            

                </form>

                        <button  class="reg2" type="submit" href="/" ><a >Registrate</a> </button>
                    
                
                    <div class="avisos">

                        <div class="olvidar22">
                        <a href="/login" >¿Ya tenés una cuenta? -Iniciar sesión-</a>
                        </div>
                    </div>
                </div>
        </div>

    </div>



    <%- include('../partials/footer') %>
    
</body>
</html>

<script src="/js/registerV.js"></script>